*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

#header{
    top: 0;
    left: 0;
    padding: 30px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background-color: rgb(26, 26, 26);
  }
  
  #header .logo{
    color: red;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
  }
  
  #header ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #header ul li{
    list-style: none;
    margin-left: 20px;
    font-size: 14px;
  }
  
  #header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: ghostwhite;
    border-radius: 2px;
  }
  
  #header ul li a:hover{
    background: linear-gradient(45deg, red, rgb(245, 14, 14));
    color: rgb(253, 252, 252)  ;
}