*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}




#header{
    top: 0;
    left: 0;
    padding: 30px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background-color: rgb(26, 26, 26);
  }
  
  #header .logo{
    color: red;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
  }
  
  #header ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #header ul li{
    list-style: none;
    margin-left: 20px;
    font-size: 14px;
  }
  
  #header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: ghostwhite;
    border-radius: 2px;
  }
  
  #header ul li a:hover{
    background: linear-gradient(45deg, red, rgb(245, 14, 122));
    color: rgb(253, 252, 252);
  }

section{
width: 100%;
height: 100vh;
display: flex;
background-image: url("/img/piratasfundo.webp");
background-size: cover;
}
iframe {
    margin-left: 10rem;
    margin-top: 7rem;
    width: 35rem;
    height: 25rem;
}
.box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 10rem;
    padding-top: 10rem;
}

section img {
    width: 16rem;
}

.button a{

    color: white;
    margin: 10px;
    font-weight: 500;
}

.button a i:hover{
    opacity: 0.8;
    cursor: pointer;
}

.button a i{
    font-size: 30px;
    padding: 14px 26px;
    border-radius: 2px;
    transition: 0.5s;
    background-color: red;
}
.details span:last-child{
    border: 1px solid rgb(242, 51, 51);
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
    background-color: red;
    color: white;
}   

.button a i:hover{
    opacity: 0.9;
    cursor: pointer;
}
.details {
    color: white;
}